*{margin: 0; padding:0}
body{
    background-color: beige;
    padding-top: 10vh;
}

.form-comtainer{
    width: 250px;
    height: auto;
    padding: 20px 30px; 
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 0 10px 0; color: black;
    margin: auto;
}
ul.list{
list-style-type: none;
}

ul.list li{

}